* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: aqua;
    color: blue;
    border-radius: 50px;
    min-width: 80vw;
    margin: 0 auto;
    font: italic small-caps bold 16px/2 cursive;
    font-size: 30px;

}

.container {
    display: flex;
    width: 100vw;
}


.panel {
    height: 80vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 1;
    margin: 10px;
    position: relative;
    transition: flex 0.7s;
}

.panel h3 {
    position: absolute;
    font-size: 24px;
    margin: 0;
    bottom: 20px;
    left: 20px;
    opacity: 0;
    background-color: rgba(0,0,0, 0.4);
    padding: 2px 20px;
    border-radius: 2px;
}

.panel.active {
    flex: 10;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 1s 0.7s;
}

@media(max-width:720px){
    .panel:nth-of-type(4)
    .panel:nth-of-type(5) {
        display: none;
    }
}


/* nut nhan */
.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    border: none;
    cursor: pointer;
    z-index: 1;
    border-radius: 5px;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}