h1{
    text-align: center;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div{
    width: 100px;
    height: 100px;
    background-color: #308db8;
    margin: 2px;
    /* can giua  */
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}